@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-bg: #001121;
    --color-box: #0f0f0f;
    --color-box-hover: #181818;
    --color-text: #dddddd;
    --color-text-white: white;
    --color-accent: #ff8d13;
    --color-table-header: #00172b;
    --color-table-hover: #032647;
}

/*Start of Universal Defenitions*/
* {
    font-family: 'Inter', sans-serif;
    color: var(--color-text);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

a:link {
    text-decoration: none;
}

h1, p {
    color: var(--color-text-white);
}
/*End of Universal Defenitions*/










/*Start of Header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-box);
    height: 100px;
    border-bottom: 2px solid var(--color-text);
}

.header-logo {
    margin-left: 64px;
    margin-right: 12px;
    width: 80px;
    height: 80px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-box);
    height: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    margin: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.header-button:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    outline: none;
}
/*End of Header*/










/*Start of standing.html*/
.standings-table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*End of standing.html*/










/*Start of teams.html*/
.teams-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 80px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: -30px;
}

.all-teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 300px;
}

.team-box {
    display: flex;
    height: 152px;
    width: 244px;
    float: left;
    margin: 35px;
    position: relative;
    padding-top: 60px;
    overflow: visible;
    text-align: center;
}

.badge {
    position: absolute;
    top: -15px;
    left: 42px;
    width: 160px;
    height: 160px;
}

.link-to-team-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 152px;
    width: 244px;
    background-color: var(--color-box);
    border-radius: 25px;
}

.team-name-teams {
    margin-top: 55px;
    margin-bottom: 5px;
    font-weight: 550;
}

.team-year-teams {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
}
/*End of teams.html*/










/*Start of team_page.html*/
.all-content-of-team-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-display-team-page {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 880px;
    margin-top: 120px;
}

.display-box-team-page {
    border-radius: 25px;
    background-color: var(--color-box);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 620px;
}

#big-player-name {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -10px;
    margin-left: 30px;
    margin-top: -90px;
}

#big-player-nickname {
    font-weight: 450;
    margin-left: 30px;
    color: var(--color-text);
}

.team-players {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 35px;
    row-gap: 40px;
    margin-inline: 20px;
    margin-top: 120px;
}

.player {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
}

.player-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 150px;
    width: 300px;
    background-color: var(--color-box);
    border-radius: 25px;
}

.player-box:hover {
    background-color: var(--color-box-hover);
    border: 2px solid var(--color-accent);
}

.player-photo-miniature {
    align-self: center;
    width: 200px;
    height: auto;
    mask-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 40%,
            rgba(0,0,0,0) 65%,
            rgba(0,0,0,0) 100%
        ),
        linear-gradient(
            to right,
            rgba(0,0,0,0) 15%,
            rgba(0,0,0,1) 30%,
            rgba(0,0,0,1) 100%
        );
    mask-composite: intersect;
    margin-top: 52px;
    margin-inline: -30px;
}

.smaller-player-name {
    margin-left: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
    width: 170px;
    height: 50px;
}
/*End of team_page.html*/










/*Start of Players.html*/
.page-header-wrapper {
    margin: 15px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 70rem;
}

.table-wrapper {
    width: fit-content;
    margin: 5px auto 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    color: var(--color-text);
    font-size: 16px;
}

th {
    text-align: center;
    background-color: var(--color-table-header);
}

td {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: var(--color-table-header);
}

th.sort-asc::after { content: " ▲"; }
th.sort-desc::after { content: " ▼"; }
tr:hover td { background-color: var(--color-table-hover); }

#column-name {
    text-align: left;
}

#nickname-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.rows-with-numbers {
    width: 54px;
}

.align-left {
    text-align: left;
}

.name-in-table:hover {
    text-shadow: 0 0 4px blue, 0 0 10px white;
}
/*End of Players.html*/










/*Start of players_stats.html*/
.all-content-of-player-stats {
    display: flex;
}

.player-display {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 880px;
    margin-left: 150px;
}

.display-box {
    margin-top: 120px;
    border-radius: 25px;
    background-color: var(--color-box);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 620px;
}

.team-badge {
    width: 90px;
    height: auto;
    margin-left: 8px;
    margin-top: 16px;
}

.player-photo {
    align-self: center;
    width: 360px;
    height: auto;
    mask-image: linear-gradient(
        rgba(16,16,16,1) 0%,
        rgba(16,16,16,1) 50%,
        rgba(16,16,16,0) 80%,
        rgba(16,16,16,0) 100%
    );
    margin-top: -24px;
}

.player-name {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -10px;
    margin-left: 30px;
    margin-top: -90px;
}

.player-nickname {
    font-weight: 450;
    margin-left: 30px;
    color: var(--color-text);
}

.player-stats {
    width: 70%;
    height: 880px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 150px;
}

.matches-goals-assists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 147px;
    margin-top: 120px;
}

.matches-goals-assists-box {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    background-color: var(--color-box);
    border-radius: 25px;
}

.corner-box-left {
    margin-left: 30px;
}

.corner-box-right {
    margin-right: 30px;
}

.stats-number {
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 24px;
    font-size: 80px;
    font-weight: 800;
}

.what-stat {
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.player-awards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 0px;
}

.player-awards-box {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 500px;
    background-color: var(--color-box);
    border-radius: 25px;
    margin-top: 40px;
}

.what-award {
    margin-left: 24px;
    margin-top: 18px;
    margin-bottom: 0px;
}

.trophies {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 12px;
}

.pora-trophy {
    margin-left: 20px;
}

.trophy-icon {
    width: 60px;
    height: 60px;
}

.stat-extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    margin-right: 30px;
}
/*End of players_stats.html*/










/*Start of matches.html*/
.all-matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.all-matches-on-a-day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px;
    margin-bottom: 100px;
}

.round-and-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 40px;
    margin: 0;
    margin-top: 25px;
}

.matches-on-a-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.match-card {
    margin-top: 10px;
    border-radius: 25px;
    background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    cursor: pointer;
}

.home-team, .away-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    height: 200px;
}

.home-team {
    justify-content: flex-end;
}

.away-team {
    justify-content: flex-start;
}

.home-team-badge, .away-team-badge {
    width: 160px;
    height: auto;
}

.home-team-name, .away-team-name {
    font-size: 20px;
    font-weight: 600;
}

.match-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
}

.score {
    font-size: 40px;
    font-weight: 800;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color-box);
    padding: 20px;
    border-radius: 30px;
    width: 1400px;
    height: 800px;
    max-height: 90vh;
    position: relative;
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-close {
    position: absolute;
    font-size: 40px;
    top: 20px; right: 30px;
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-match-card {
    margin-top: 10px;
    background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 150px;
}

.date-location-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: -30px;
}

.date-modal, .location-modal {
    margin: 0;
    margin-top: 0px;
}

.location-modal {
    margin-left: -8px;
}

.modal-divider {
    border: none;
    border-top: 1px solid #333;
    margin: 10px 0;
}

.modal-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-scrollable {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    overscroll-behavior: contain;
    scrollbar-width: none;
}

.modal-scrollable::-webkit-scrollbar {
    display: none;
}

.modal-two-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-player {
    margin-top: 10px;
    border-radius: 7px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 80px;
    cursor: pointer;
}

.modal-player-photo-squad {
    width: 50px;
    height: auto;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: 10px;
}

.modal-player-photo-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 1.5px solid var(--color-text);
    flex-shrink: 0;
    margin-right: 15px;
    margin-left: 15px;
}

.modal-player-photo-goal, .modal-player-photo-assist, .modal-player-photo-card {
    width: 100px;
    height: auto;
    object-fit: cover;
    object-position: top;
    margin-left: -22px;
    display: block;
}

.modal-match-goals, .modal-match-assists, .modal-match-cards, .modal-match-squad {
    display: flex;
    flex-direction: row;
}

.home-goals, .away-goals, .home-assists, .away-assists, .home-cards, .away-cards {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    margin-top: 0px;
}

.modal-goal, .modal-assist, .modal-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 40px;
}

.modal-match-squad {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 650px;
    height: 50px;
    margin-bottom: 50px;
}

.modal-elenco {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.modal-elenco summary {
    font-size: 24px;
    text-align: flex-start;
    cursor: pointer;
}

.modal-squad-player-name {
    margin-left: 10px;
}
/*End of matches.html*/










/*Start of Misc / Unclassified*/
.team_name_and_badge {
    border: 8px solid #000000;
    display: flex;
    align-items: center;
}
/*End of Misc / Unclassified*/